@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50: 239 246 255;
    --color-primary-100: 219 234 254;
    --color-primary-200: 191 219 254;
    --color-primary-300: 147 197 253;
    --color-primary-400: 96 165 250;
    --color-primary-500: 59 130 246;
    --color-primary-600: 37 99 235;
    --color-primary-700: 29 78 216;
    --color-primary-800: 30 64 175;
    --color-primary-900: 30 58 138;
    --color-primary-950: 23 37 84;
  }

  body {
    @apply bg-edulift-canvas text-edulift-darkslate antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
  }
}

@layer components {
  .btn-primary {
    @apply bg-edulift-indigo text-white px-6 py-2.5 rounded-full font-semibold hover:bg-indigo-700 transition-all shadow-md shadow-indigo-200 active:scale-95;
  }
}
